<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <% for (var i = 0; i < posts.length; i ++){ %> 
    <h4>할일 제목 : <%= posts[i].title %></h4>
  <p>할일 마감 날짜 : <%= posts[i].date %></p>

  <% } %> 

  
  
  <!-- <h4>할일 제목 : <%= posts[1].title %></h4>
  <p>할일 마감 날짜 : <%= posts[1].date %></p> -->

</body>
</html>